# results don't need to be checked out
ergebnisse.csv
errors.csv

# node module folder and package-lock
node_modles
node_modules/*
package-lock.json

# ignore webhook files
webhook-live.php
webhook-dev.php
webhook.php


# ignore all directly related real league data and files
game-pairings.csv
Teilnehmer-Liga-Lidarts-DiscordID.csv

# live files for packaging release
app_data_live
app_data_live/*
assets_live
assets_live/*

# release folder with live assets and app_data created by build script
release
release/*

