:root {
  --spacing: 0.5rem;
  --font-family: "Iosevka Web", monospace, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: hsl(135, 49%, 40%);
  --primary-hover: hsl(135, 49%, 30%);
  --primary-focus: hsla(135, 49%, 30%, 0.125);
}

img {
  border-radius: 5px;
}

report-img-area {
  display: flex;
  justify-content: center;
}

validation-error {
  display: block;
  width: 100%;
  margin-top: calc(var(--spacing) * -0.75);
  margin-bottom: var(--spacing);
  font-size: 0.875em;
  display: block;
  color: #b71c1c;
  margin-bottom: var(--spacing);
}

@media only screen and (prefers-color-scheme: light) {
  report-img-area > img {
    border: 1px solid black;
  }
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --primary: hsl(135, 49%, 40%);
    --primary-hover: hsl(135, 49%, 30%);
    --primary-focus: hsla(135, 49%, 30%, 0.125);
  }

  report-img-area {
    display: flex;
    justify-self: center;
    align-self: center;
  }

  report-img-area > img {
    filter: sepia(1) hue-rotate(300deg) saturate(4) invert(1) contrast(0.8);
    border: 1px solid black; /* actual border color is white due to filter */
  }
}
